*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

:root{
    --max-width:1520px;
}

li{
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
/* start of navbar */
.navbar{
    border-bottom: .4px solid rgb(211, 208, 208);
}
.navbar-container{
    max-width: var(--max-width);
    margin: 0 auto;
    
}
.nissan--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--links{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    padding-right: 20px;
}

.nav--links li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: 900;
}

.lightened{
    font-weight: lighter;
    font-size: 13px;
}
#en--link{
    font-weight: lighter;
    font-size: 14px;
}
.nissan--logo{
    width: 120px;
    height: 120px;
    padding: 10px;
}

.navlinks--mobile{
    display: none;
}

.navlink

.nissan--logo:hover{
    cursor: pointer;
}

.image--two{
    display: none;
}

.icon--links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--links li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--links li:hover{
    border-bottom: 4px solid grey;
}

#mobile-screen{
    display: none;
}

.hamburger--icon{
    display: none;
}

.close--icon{
    display: none;
}
@media screen and (max-width:1259px) {
    #hide--link{
        display: none;
    }

    #mobile-screen{
        display: flex;
        font-weight: lighter;
    }
    
}

@media screen and (max-width:1199px) {
    .icon--links{
        margin: 0 30px;
    }
}

@media screen and (max-width:767px) {
    .nav--links{
        display: none;
    }
    .navbar-container{
        max-height: 3.5rem;
    }
    .nissan--logo{
        padding: 10px;
    }

    .image--one{
        display: none; 
    }
    .navbar{
        border-bottom: none;
    }
    .image--two{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .mobile-search-menu input:focus{
        outline: none;
    }

    .navlinks--mobile ul li{
        padding: 10px 0;
        padding-bottom: 15px;
        border-bottom: 2px solid white;
        align-items: center;
        justify-content: center;
        
    }

    .navlinks--mobile ul li a{
        text-decoration: none;
        color: black;
        align-items: center;
        justify-content: center;
        
    }

    .bold{
        font-weight: bold;
        font-size: 16px;
        font-family: 'Cabin', sans-serif;
    }

    .navlinks--mobile ul li span{
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .navlinks--mobile ul li small{
        font-family: system-ui;
        font-size: 17px;
        font-weight: light;
    }

    .hamburger--icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        cursor: pointer;
    }

    .hide--hamburger--icon{
        display: none;
        
    }

    .close--icon{
        display: none;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
        width: 50px;
        cursor: pointer;
    }

    .show--close--icon{
        display: flex;
    }

    .hamburger--icon span{
        font-size: 30px;
    }

    .navlinks--mobile{
        display: flex;
        flex-direction: column;
        background: #f1f1f1;
        height: 97vh;
        transform: translateY(-2400px);
        transition: transform 150ms ease-in;
    }

    .show--mobile--links{
        transform: translateY(0px);
    }

    .navlinks--mobile{
        width: 100vw;
        padding: 1rem;
        height: 95vh;     
    }

    .navlinks--mobile ul li a{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

   
    
    .mobile-search-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin: 30px 10px;
    }
    .navlinks--mobile{
        position: relative;
    }
    .mobile-search-menu input{
        height: 51px;
        width: 83vw;
        padding: 15px;
        border: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius:7px ;
    }

    .mobile-search-menu button{
        width: 71px;
        height: 51px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: none;
        background: white;
    }



    .mobile-search-menu button{
        height:51px ;
    }

    .nissan--header{
        height: 3.5rem;
        transition: all 300ms ease-in;
    }


    .chat-language{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 2rem;
    }

    .chat-language .left-side{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Cabin', sans-serif;
    }

    .chat-language .left-side small{
        padding-right:15px ;
    }

    .chat-language .right-side{
        align-items: center;
        justify-content: center;
    }


    .chat-language .right-side small{
        padding: 0 5px;
        align-items: center;
        font-family: 'Cabin', sans-serif;
        letter-spacing: 1px;
    }

}   
/* end of navbar */

/* start of hero section */
.hero--container{
    max-width: var(--max-width);
    margin: 0 auto;
}

.gtr-header{
    display: flex;
    max-width: var(--max-width);
    height: 55px;
    font-family: 'Cabin', sans-serif;
    background: black;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(95, 90, 90);
}

.gtr--container{
    display: flex;
    color: white;
    align-items: center;
    /* background: grey; */
    height: 100%;
    max-width: var(--max-width);
    padding:  0;
    padding-left: 2rem;
    padding-right: 20px;
    gap: 16rem;
    
}

/* .gtr-left{
    padding-left: 7rem;
} */
.gtr-left a{
    color:#f1f1f1
}
.gtr-right{
    display: flex;
    
}

.gtr-nav-list{
    display: flex;
    gap: 35px;
}

.gtr-nav-list li{
    padding: 1rem 0;
}

.gtr-nav-list li:first-child{
    border-bottom: 1px solid white;
}

.gtr-nav-list li a{
    color: white;
    transition: color 150ms ease-in  ;
}

.gtr-nav-list li a:hover{
    color: lightgray;
}

@media screen and (max-width:959px) {
    .gtr-right{
        display: none;
    }
}
/* end of hero section */