@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Kumbh+Sans:wght@400;700&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,400;1,800&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

:root{
    --max-width:1520px;
}

li{
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
/* start of navbar */
.navbar{
    border-bottom: .4px solid rgb(211, 208, 208);
}
.navbar-container{
    max-width: var(--max-width);
    margin: 0 auto;
    
}
.nissan--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--links{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    padding-right: 20px;
}

.nav--links li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: 900;
}

.lightened{
    font-weight: lighter;
    font-size: 13px;
}
#en--link{
    font-weight: lighter;
    font-size: 14px;
}
.nissan--logo{
    width: 120px;
    height: 120px;
    padding: 10px;
}

.navlinks--mobile{
    display: none;
}

.navlink

.nissan--logo:hover{
    cursor: pointer;
}

.image--two{
    display: none;
}

.icon--links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--links li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--links li:hover{
    border-bottom: 4px solid grey;
}

#mobile-screen{
    display: none;
}

.hamburger--icon{
    display: none;
}

.close--icon{
    display: none;
}
@media screen and (max-width:1259px) {
    #hide--link{
        display: none;
    }

    #mobile-screen{
        display: flex;
        font-weight: lighter;
       
    }
    
}

@media screen and (max-width:1199px) {
    .icon--links{
        margin: 0 30px;
    }
}

@media screen and (max-width:767px) {
    .nav--links{
        display: none;
    }
    .navbar-container{
        max-height: 3.5rem;
    }
    .nissan--logo{
        padding: 10px;
    }

    .image--one{
        display: none; 
    }
    .navbar{
        border-bottom: none;
    }
    .image--two{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .mobile-search-menu input:focus{
        outline: none;
    }

    .navlinks--mobile{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .navlinks--mobile ul li{
        padding: 10px 0;
        padding-bottom: 15px;
        border-bottom: 2px solid white;
        align-items: center;
        justify-content: center;
        
    }

    .navlinks--mobile ul li a{
        text-decoration: none;
        color: black;
        align-items: center;
        justify-content: center;
        
    }

    .bold{
        font-weight: bold;
        font-size: 16px;
        font-family: 'Cabin', sans-serif;
    }

    .navlinks--mobile ul li span{
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .navlinks--mobile ul li small{
        font-family: system-ui;
        font-size: 17px;
        font-weight: light;
    }

    .hamburger--icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        cursor: pointer;
    }

    .hide--hamburger--icon{
        display: none;
        
    }

    .close--icon{
        display: none;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
        width: 50px;
        cursor: pointer;
    }

    .show--close--icon{
        display: flex;
    }

    .hamburger--icon span{
        font-size: 30px;
    }

    .navlinks--mobile{
        display: flex;
        position: fixed;
        flex-direction: column;
        background: #f1f1f1;
        height: 97vh;
        transform: translateY(-2400px);
        transition: transform 150ms ease-in;
        z-index: 9999;
    }

    .show--mobile--links{
        transform: translateY(0px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .navlinks--mobile{
        width: 100vw;
        padding: 1rem;
        height: 95vh; 
        position: fixed;    
    }

    .navlinks--mobile ul li a{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

   
    
    .mobile-search-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin: 30px 10px;
    }
    .navlinks--mobile{
        position: relative;
    }
    .mobile-search-menu input{
        height: 51px;
        width: 83vw;
        padding: 15px;
        border: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius:7px ;
    }

    .mobile-search-menu button{
        width: 71px;
        height: 51px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: none;
        background: white;
    }



    .mobile-search-menu button{
        height:51px ;
    }

    .nissan--header{
        height: 3.5rem;
        transition: all 300ms ease-in;
    }

    .nissan--sticky{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: white;
    }


    .chat-language{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 2rem;
    }

    .chat-language .left-side{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Cabin', sans-serif;
    }

    .chat-language .left-side small{
        padding-right:15px ;
    }

    .chat-language .right-side{
        align-items: center;
        justify-content: center;
    }


    .chat-language .right-side small{
        padding: 0 5px;
        align-items: center;
        font-family: 'Cabin', sans-serif;
        letter-spacing: 1px;
    }

}   
/* end of navbar */

/* start of hero section */
.hero--container{
    max-width: var(--max-width);
    margin: 0 auto;
}

.gtr-header{
    display: flex;
    max-width: var(--max-width);
    height: 55px;
    font-family: 'Cabin', sans-serif;
    background: black;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(95, 90, 90);
}
.hero-div .image-container{
    height:650px;
    position: relative;
}

.image-container img{
    object-fit:cover;
}
.image-text{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4rem;
    color: white;
}

.right-text{
    height: 80px;
    width: 150px;
}

.gtr--container{
    display: flex;
    color: white;
    align-items: center;
    /* background: grey; */
    height: 100%;
    max-width: var(--max-width);
    padding:  0;
    padding-left: 2rem;
    padding-right: 20px;
    gap: 16rem;
    
}

.gtr-left{
    padding-left: 7rem;
} 
.gtr-left a{
    color:#f1f1f1
}
.gtr-right{
    display: flex;
    
}

.gtr-nav-list{
    display: flex;
    gap: 35px;
}

.gtr-nav-list li{
    padding: 1rem 0;
}

.gtr-nav-list li:first-child{
    border-bottom: 2px solid white;
}

.gtr-nav-list li a{
    color: white;
    transition: color 150ms ease-in  ;
}

.gtr-nav-list li a:hover{
    color: lightgray;
}

.stats{
    background: #f1f1f1;
}

.stats--container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142px;
   
}

.stats--container{
    padding: 15px 0;

}


.gtr-about{
    width: 250px;
    padding: 0 1rem;
    border-right: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
}

.gtr-about div .first--text{
    font-weight: bolder;
    font-family: 'Cabin', sans-serif;
}

.gtr-about div .second--text{
    font-weight: 500;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.gtr-about div .second--text small{
    font-size: 17px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: rgb(146, 146, 146);
    letter-spacing: .7px;
}

.third--text{
    font-size: 14px;
    align-items: center;
    text-align: start;
    font-family: 'Open Sans', sans-serif;
    color: #202020;

}

.gtr-about:last-child{
    border-right: none;
}

.left-text p .r-logo{
    font-size: 10px;
    text-align: start;
}

.left-text p{
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 5px;
}

.left-text h2{
    font-size: 50px;
    width: 350px;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
}

.responsive-gtr-text{
    display: none;
}

.mobile--responsive--container{
    display: none;
}


@media screen and (max-width:959px) {
    .gtr-right{
        display: none;
    }

    .gtr-left{
        padding-left:0px;
    } 

    .hero-div .image-container{
        height:auto;
    }

    .left-text{
        display: none;
    }

    .image-text{
        justify-content: flex-end;
        padding: 0;
    }

    .right-text {
        position: static;
        height: auto;
        width: 25%;
        padding: 25px;
    }

    .responsive-gtr-text{
        display:block;
        padding: 15px 50px;
    }

    .responsive-gtr-text p{
        font-size: 35px;
        width: 250px;
        font-family:'Cabin', sans-serif;
    }

    .responsive-gtr-text h1{
        font-size: 16px;
        font-family:'Cabin', sans-serif;
        font-weight: lighter;
        margin-bottom: 5px;
    }

    .responsive--gtr--link{
        display: flex;
    }

    .responsive--gtr--link a p{
        align-items: center;
    }

    /* change class name */
    .align{ 
        display: flex;
        align-items: center;
    }
    .responsive--gtr--link a{
        padding-left: 20px;
    }
    .gtr-left .desktop--text{
        display: none;
    }
    .mobile--responsive--container{
        display: flex;
    }

    .mobile--GTR--responsive--text{
        display: flex;
        height: 35px;
        align-items: center;
        padding-right: 20px;
        border-right: 1px solid rgb(126, 126, 126);      
    }
}


@media screen and (max-width:375px) {
    /* .stats{
        display: none;
    } */
}



@media screen and (max-width:580px) {
    .right-text{
        padding: 15px;
    }

   .responsive-gtr-text p{
    width: auto;
   }

   .stats--container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
   }

   .gtr-about {
    width: auto;
    border-bottom: 1px solid lightgray;
    padding: 0;
    margin: 0;
    width: auto;

    }     
    .gtr-about:nth-child(1) div{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;

    }

    .gtr-about:nth-child(2) div{
        padding-bottom: 5px;
        padding-left: 10px;
        border-right: none;
        padding-top: 5px;
    }


    .gtr-about:nth-child(2){
        border-right: none;
    }

   .gtr-about:nth-child(3){
    padding-top: 10px;
    border-bottom: none;
    padding-left: 15px;
    padding-bottom: 20px;
   }


}

.trade--section{
    max-width: var(--max-width);
    margin: 0 auto;
}

.trade--container{
    display: flex;
    max-width: var(--max-width);
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.trade--container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid  lightgrey;
    width: 279px;
    height: 105px;
    cursor: pointer;
    transition: all 100ms ease-in;
    font-family: 'Open Sans', sans-serif;
}

.trade--container a span{
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15%;
    background-color: #202020;
    transition: all 100ms ease-in;
}

.trade--container a:hover{
    background-color: red;
    color: white;
    transition: all 100ms ease-in;
}

.trade--container a:hover span{
    color: black;
    background-color: white;
    transition: all 100ms ease-in;
}


@media screen and (max-width:959px) {
    .trade--container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90vw;
        margin: 0 auto;
        margin-top: 20px;
        padding: 12px 10px;
    }

    .trade--container a{
        height: auto;
        width: auto;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        height: 50px;
    }   
    .trade--container a span{       
        margin-bottom:0px;
    }
}



.first__gtr__image{
    position: relative;
    margin-bottom: 20px;
   
    margin: 0 auto;
    padding: 0 15px;

  

    
}



/* .first__gtr__image img{
    height: 100%;
} */

.gtr-images{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    
}

.gtr__cards__container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.gtr--card{
    position: relative;
    padding: 0 15px;
    height: 100%;
    width: 100%;
}


.performance--container{
    background: black;
    /* height: 20vh; */
    padding: 30px;
    padding-bottom: 80px;
    margin-top: -4px;
    transition: all 200ms ease-in-out;

}

.performance--container:hover{
    background: rgb(36, 35, 35);
    cursor: pointer;
}

.performance--container p{
    color: white;
    max-width: 450px;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 10px;
}


.performance--container button{
    display: flex;
    align-items: center;
    padding: 15px 40px;
    font-family: 'Cabin', sans-serif;
    cursor: pointer;
}

.performance--container button a{
    color: black;
}



.gtr--power--soul{
    position: absolute;
    top: 6%;
    left: 6%;
    width: 50%;
    height: auto;
    border-top: 3px solid white;
    border-radius: 1px;
}

.gtr--power--soul h2{
    color: white;
    width: 70%;
    font-size: 35px;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    padding-top: 15px;
}



.performance--card{
    background: black;
    margin-top: -4px;
    /* height:80%; */
    padding: 30px;
}

.performance--card p{
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    color: white;
    margin-bottom: 15px;

}

.performance--card button{
    display: flex;
    align-items: center;
    padding: 15px 40px;
    font-family: 'Cabin', sans-serif;
    cursor: pointer;
    margin-bottom: 40px;
}

.performance--card button a{
    color:black;
}

.gtr--image--text{
    position: absolute;
    color: white;
    top: 5%;
    padding: 0 15px;
    margin: 0 30px;
    max-width: 570px;
    border-top: 4px solid white;
}

.gtr--image--text h2{
    font-size: 32px;
}



@media screen and (max-width:580px) {
    .gtr__cards__container{
        flex-direction: column;
    }

    .first__gtr__image{
        width: 100%;
    }

    .first__gtr__container{
        height: 60vh;
    }

    
    .first__gtr__image img{
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;    
        vertical-align: middle;
    } 

    .gtr--power--soul{
        left: 8%;
    }
    .gtr--power--soul h2{
        font-size: 20px;
        width: 200px;
    }

    .gtr--power--soul div{
        position: sticky;

    }

    .performance--container button{
        width: 100%;
        justify-content: space-between;
        padding-right: 10px;
    }
    
    .performance--card button{
      justify-content: space-between;
      width: 100%;
      padding-right: 10px;
    }

}



/* end of hero section */


/* start of interaction section */

.interaction{
    background: #f1f1f1;
}


.interaction .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    max-width: 1500px;
}

.interaction .swiper{
    width: 80%;
    height: fit-content;
    animation: none;
}

.interaction  .swiper-wrapper img{
    width: 100%;
    height: 100%;

}

.interaction .swiper-button-next{
    padding-left: 90px;
}

.interaction  .swiper-button-prev{
    padding-right: 90px;
}

.interaction  .swiper--buttons{
    display: flex;
    justify-content: space-between;
    width: 99vw;
}

.container h2{
    display: none;
}

.interaction #outside--container{
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}





.four--images{
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: center;
    /* padding: 20px; */
    gap: 2rem;
    padding-bottom: 3rem;
}


.gtr--btn-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 40px;
    border: none;
    background: black;
    cursor: pointer;
}

.gtr--btn-btn small{
    color: white;
    font-size: 14px;
    font-family:'Cabin', sans-serif;
    font-weight: bold;
}

.gtr--btn-btn span{
    color: white;
    margin-left: 20px;
}


.gtr--btn--div{
    display: flex;
    padding-bottom: 4rem;
}

/* .gtr--four--images{
    height: 190px;
    width: 270px;
} */

.gtr--four--images img{
    height: 100%;
    width: 100%;
}


.nav-btn{
    display: none;
}


.responsive-gtr-four-images{
    display: none;
}


@media screen and (max-width:959px) {
    .four--images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .gtr--four--images{
        height: auto;
        width: auto;
    }
}


@media screen and (max-width:440px) {
    .gtr--btn--div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 0 auto;
    }

    
}


@media screen and (max-width:580px) {
    .responsive-gtr-four-images{
        display: flex;
        margin: 0 auto;
        /* width: 60vw; */
        width: 270px;
        overflow: hidden;
        padding-bottom: 4rem;
    }
    
    .nav-btn{
        display: flex;
    }
    
    .carousel-slide{
        display: flex;
        width: 100%;
    }

    .four--images{
        display: none;
    }

    .responsive-gtr-four-images{
        position: relative;
    }

    .nav-btn{
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 5%;
        font-size: 30px;
        color:red;
        justify-content: space-between;
        width: 90%;
    }

    #nextBtn{
        cursor: pointer;
    }

    #prevBtn{
        cursor: pointer;
    }
    
}


@media screen and (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .container h2{
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;

    }

    #outside--container{
        display: none;
    }

    
    .interaction #outside--container{
        display: none;
        
    }


    .container h2{
        padding: 0 2rem;
        width: 100%;
        margin-bottom: 4rem;
    }
}


/* end of interaction section */

/* start of sold out nismo section */

.sold-out-nissan{
    margin-top: 4rem;
}

.sold-out-nissan-container{
    width: 95vw;
    margin: 0 auto;
    max-width: 1200px;
    background: #f1f1f1;
    padding-bottom: 20px;
}

.sold-out-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.nismo--container{
    height: 100%;
    width: 50%;
}

.nismo--container img{
    height: 100%;
    width: 100%;
    min-width: 440px;
    min-height: 325px;

}


.sold-out-summary{
    padding: 55px 50px;
    max-width: 600px;
}

.sold-out-summary h2{
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    color: black;
    max-width: 200px;
    margin-bottom: 30px;
}


.sold-out-summary p{
    font-family: 'Cabin', sans-serif;
    color: rgb(87, 85, 85);
    margin-bottom: 13px;
}


.sold-out-summary a{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    padding-right: 45px;
    color: black;
    width: 60%;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;

}



@media  screen and (max-width:959px) {
    .sold-out-wrapper{
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
       padding: 0 20px;
    }

    .sold-out-summary{
        padding: 20px;
        max-width: none;
    }

    .sold-out-summary h2{
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: black;
        max-width: none;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .nismo--container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 40px;
    }
    
    .nismo--container img{
        height: 100%;
        width: 100%;
        min-width: auto;
        min-height: auto;
    
    }

    .sold-out-summary a{
        max-width: 300px;
        width: 100%;
        
    }
    
}


@media screen and (max-width:520px) {
    .nismo--container{
        padding: 0px;
        padding-top: 20px;
    }
}


/* end of sold out nismo */


/* start of promotion section */

.promotion{
    margin-top: 5rem;
}

.promotion-container{
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 3px solid black;
}


.promotion-container h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color:#343434;
}


.mobility--assist--program{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10rem;
}


.mobility--image--container{
    height: 350px;
    margin-bottom: 20px;
    max-width: 450px;
    border-bottom: 3px solid black;
    align-items: center;
    justify-content: center;
}

.mobility--image--container img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.mobility-assist-text{
    max-width: 450px;
}


.mobility-assist-text h2{
    margin-bottom: 15px;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    letter-spacing: .7px;
}


.mobility-assist-text p{
    font-family: 'Cabin', sans-serif;
    font-weight: light;
    color: #5c5c5c;
    font-weight: 13px;
    margin-right:20px;
    margin-bottom: 10px
}

.mobility--assist--program a{
    border: 1.5px solid black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    max-width: 200px;
    justify-content: space-between;
    color: black;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
}

.mobility--assist--program a p{
    margin: 0;
    margin-left: 20px;
    align-items: center;
}

.mobility--assist--program a span{
    font-weight: bold;
}

@media screen and (max-width:580px) {

    .promotion-container h1{
        margin-left: 10px;
    }

    .mobility--image--container img{
        object-fit: fill;
        height: 100%;
        width: 100%;
    }

    .promotion-container{
        max-width: auto;
    }

    .mobility--image--container{
        height: auto;
        max-width: 100%;
    }

    .mobility--assist--program{
        width: 95vw;
        max-width: 100%;

    }

    .mobility-assist-text{
        max-width: 100%;
    }

    .promotion-container{
        border-bottom: 3px solid lightgray;
    }
    
}


.shopNissan{
    margin-bottom: 6rem;
}

.shopNissan--container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
}

.shopNissan--container h1{
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
}

.card--items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 40px;    
}


.shopNissan--links{
    border: 1px solid grey;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 281px;
    height: 100px;
    gap: 10px;
    transition: color 100ms ease-in;
    transition: background-color 100ms ease-in;

}

.shopNissan--links span{
    background: black;
    color: white;
    font-size: 32px;
    border-radius:50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.shopNissan--links p{
    color: black;
    font-family: 'Open Sans', sans-serif;
}


.shopNissan--links:hover {
    background-color: red;
    border:1px solid red;
}

.shopNissan--links:hover p{
    color: white;
}

.shopNissan--links:hover span{
    background: white;
    color: red;
}


@media screen and (max-width:959px) {
    .card--items{
        flex-direction: column;
    }
    
    .shopNissan--links{
        width: 98vw;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px 10px;
        gap: 2rem;
    }

    .shopNissan--links span{
        font-size: 20px;
    }

    .shopNissan--container h1{
        padding-left:10px ;
    }
}
/* end of promotion section */


/* start of footer section */

.footer-container{
    max-width: 1400px;
    margin: 0 auto;
}

.top-footer{
    background-color: #5c5c5c;
    
}

.navigation-tabs{
    display: flex;
    padding: 25px;
    padding-left:19px;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav--footer--links{
    display: flex;
    color: #c1c1c1;
    align-items: center;
    gap: 10px;
}

.nav--footer--links p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav--footer--links span{
    font-weight: bold;
    font-size: 18px;
}

.active{
    color: white;
}


.middle-footer{
    background: black;
    padding-bottom: 2rem;
}


.col--header{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}

.footer--cols{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.footer--cols--container{
    margin-top: 20px;
}

.socials{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 20px;
}

.social--icons{
   display: flex;
   font-size: 25px;
   width: 200px;
   align-items: center;
}

.social--icons a{
    color: darkgrey;
    padding-right: 20px;
    transition: color 100ms ease-in;
}

.social--icons a:hover{
    color: white;
}


.socials h1{
    color: white;
}

.col-list ul .footer--list--links{
    padding-top: 20px;
}

.footer--list--links a{
    color: #c1c1c1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.bottom-footer-container{
    border-top: 1px solid white;
    background: black;
}

.bottom--footer--links{
    display: flex;
    padding:40px 0px;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}


.left--links--wrapper{
    display: flex;
    align-items: center;
}

.left--links--wrapper a{
    color: darkgrey;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}


.boxed{
    border: 1px solid white;
    padding: 5px;
    font-size: 10px;
}

.right--links--wrapper, .right--links--wrapper a{
    color: darkgray;
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* end of footer section */